SUPABASE_URL=https://qsaxnbuowkvpvsosrvbu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzYXhuYnVvd2t2cHZzb3NydmJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3OTczMDQsImV4cCI6MjEwMTM3MzMwNH0.lfc8QtjbwMo4Sp1nJgnZehhChynk7UE65ZVDWj-bnIg
BASE_URL=http://localhost:8000
